 body{ body{
   background: #999; 
   padding: 0;
   margin: 0;
  }
  
  #hlavicka{
    background: #111;
    display: block;
    padding: 20px 60px;
    color: white;
  }

  .menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .menu ul li{
    list-style: none;
    display: inline-block;
  }

  .menu ul li a{
    padding: 10px 30px;
    display: block; 
  }

  .menu ul li a:hover{
    color: white;
    border-bottom: 1px solid white;
  }
  
  a.active{
   color: white;
   cursor: default;
  }
  
  a{
   color: #C0C0C0;
   text-decoration: none;
  }

  #wizity{
    position: absolute;
    top: 25px;
    left: 250px;
    height: 100px;
  }

  #wizity a{
    color: white;
  }


  #border{
    background: black;
    height: 50px;
    padding: 10px 5px;
    color: white;
    border: solid 1px blue;
    margin: 200px;
  }



  #test{
    background: #333;
    height: 500px;
    border: 1px solid blue;
    margin: 0px;
    padding: 10px;
  }

    /*#test{
    background: #C0C0C0;
    height: 500px;
    border: 1px solid red;
  }*/

 /* #obsah{
    position: absolute;
    top: 150px;
    left: 130px;
    background: #C0C0C0;
    padding: 20px 500px;
    color: white;
    height: 1000px;
    border: solid red 1px;
  }*/



  #logo{
    position: absolute;
    left: 1000px;
    top: 10px;
  }

  /*#border-logo{
    background: #111;
    height: 100px;
    border: solid 1px white;
    padding: 5px 5px;
    margin: -440px;
    color: white;
    width: 1709px;
    float: left;
  }*/


  #footer{
    position: absolute;
    left: 880px;
    top: 860px;
    color: #999;
  }
