  body{
	background: #C0C0C0;
  padding: 0;
  margin: 0;
  }

  #header{
	background: #111;
	display: block;
	padding: 20px 60px;
	color: white;
	height: 35px;
  }

 .menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .menu ul li{
    list-style: none;
    display: inline-block;
  }

  .menu ul li a{
    padding: 10px 30px;
    display: block; 
  }

  .menu ul li a:hover{
    color: white;
    border-bottom: 1px solid white;
  }
  
  a.active{
   color: white;
   cursor: default;
  }
  
  a{
   color: #C0C0C0;
   text-decoration: none;
  }

  a.link{
  	position: absolute;
  	left: 250px; 
  	top: 25px;
  	color: white;
  }

  #obsah{
    padding: 2px 2px;
    margin: 170px;
    background: #111;
    color: white;
  }

  .info{
    background: #555;
    padding: 10px;
    margin: 0;
    height: none;
    font-size: 15px;
    color: #D0D0D0;
  }

  .info b{
    color: #fff;
  }

  .color b{
    color: #F0F0F0;
  }

  .zaver{
    color: white;
  }
